::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f5fff6 /*#b2eede*/;
}

::-webkit-scrollbar-thumb {
  background: #71e0c8; 
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4ca390; 
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "candara", sans-serif;
  font-size: large;
  background-color: #f5fff6;
  scroll-behavior: smooth;
}

.about {
  margin: 1%;
  text-align: justify;
}

.intro {
  top: 0;
  min-width: auto;
  min-height: 70vh;
  padding-top: 35vh;
}

.intro h1 {
  padding-top: 13vh;
  text-align: center;
}

nav {
  z-index: 1;
  text-align: center;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  top: 0;
  background-color: #4dabf5;
  position: absolute;
}

nav ul {
  text-align: center;
  font-size: xx-large;
  top: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

nav ul li {
  display: inline-block;/*display property specifies the display behavior (the type of rendering box) of an element.*/
                        /*inline-block allows to set a width and height on the element and the top and bottom margins/paddings are respected*/
  margin: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 1%;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
}*

.footer {
  background-color: #b2eede;
  margin: -1%;
  width: 102%;
  margin-bottom: -102%;
  margin-top: 1%;
  padding: 1%;
  text-align: center;
  position: absolute;
}