/**** VAR ****/
:root {
    --base-aquamarine: #b2eede;
    --bg-col: #f5fff6;
}

/**** GLOBAL ****/
* {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    font-family: 'Candara', Candara, sans-serif;
    font-size: large;
}

body {
    background-color: var(--bg-col);
}

hgroup {
    background: linear-gradient(var(--base-aquamarine), var(--base-aquamarine)) top/100% 50% no-repeat, linear-gradient(var(--bg-col), var(--bg-col)) top/100% 51% no-repeat, linear-gradient(var(--base-aquamarine), var(--base-aquamarine)) top/100% 52% no-repeat, linear-gradient(transparent, transparent) bottom/100% 51% no-repeat;
}

footer {
    background-color: #b2eede;
}

.my-photo-container {
    background: linear-gradient(var(--bg-col), var(--bg-col)) top/100% 50% no-repeat, linear-gradient(var(--base-aquamarine), var(--base-aquamarine)) bottom/100% 48% no-repeat;
}

/**** SCROLL BAR ****/
::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-col);
}

::-webkit-scrollbar-thumb {
    background: #71e0c8;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4ca390;
}

/**** NAV BAR ****/
.nav-item {
    padding: 0.5em !important;
}

.nav-item a {
    font-size: larger;
    border-radius: 50px;
    padding: 0.5em !important;
}

.nav-item a:hover {
    background-color: var(--base-aquamarine) !important;
    font-weight: bold;
}